.top-section{
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 600px;
    display: flex;
    overflow: hidden;
}

.slides input{
    display: none;
}

.slide{
    position: relative;
    width: 20%;
    transition: 2s;
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.klocek{
    width: 20%;
    height: 20%;
    background-color: white;
    animation-name: kangur;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
}

.slide img{
    height: 600px;
    width: 100%;
}

.navigation-manual{
position: absolute;
width: 100%;
margin-top: -40px;
display: flex;
justify-content: center;
}

.manual-btn{
    border: 2px solid var(--mainwb-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    align-self: center;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--mainwb-color);
}

#radio1:checked ~ .sfirst{
    margin-left: 0;
}

#radio2:checked ~ .sfirst{
    margin-left: -20%;
}

#radio3:checked ~ .sfirst{
    margin-left: -40%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 560px;
}

.navigation-auto div{
   border: 2px solid var(--mainwb-color);
   padding: 5px;
   border-radius: 10px;
   transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--mainwb-color);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--mainwb-color);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--mainwb-color);
}

.ablock{
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 63% 26% 88% 13% / 78% 7% 84% 15% ;
    background: rgb(30,75,255);
background: linear-gradient(90deg, rgba(30,75,255,1) 0%, rgba(255,255,255,0.5) 50%, rgba(0,0,0,1) 100%);
animation-name: rotate;
animation-duration: 7s;
animation-iteration-count: infinite;
animation-direction: alternate-reverse;
}

.ablock::after{
    right: -30%;
    transform: rotate(30deg);
    position: absolute;
    z-index: 10;
    content: '';
    height: 300px;
    width: 300px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%,rgba(30,75,255,1) 100%);
    border-radius: 26% 74% 11% 89% / 11% 94% 6% 89% ;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.ablock-main{
    filter: blur(29px);
}

@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.floatinglights-main{
    animation: fadeIn 1 1s ease-out;

}

.light {
    position: absolute;
    width: 15px;
    height: 200px;
    opacity: 0.2;
    background-color: var(--mainwb-color);
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.l1{
   animation: floatUp 4s infinite linear;
 transform: scale(1.0);
  }
  .l2{
    animation: floatUp 7s infinite linear;
  transform: scale(0.9);
  left: 15%;
   }
   .l3{
    animation: floatUp 2.5s infinite linear;
  transform: scale(1.2);
  left: -15%;
   }
   .l4{
    animation: floatUp 4.5s infinite linear;
  transform: scale(0.7);
  left: -34%;
   }
   .l5{
    animation: floatUp 8s infinite linear;
  transform: scale(2.2);
  left: -57%;
   }
   .l6{
    animation: floatUp 3s infinite linear;
  transform: scale(0.8);
  left: -81%;
   }
   .l7{
    animation: floatUp 5.3s infinite linear;
  transform: scale(3.2);
  left: 37%;
   }
   .l8{
    animation: floatUp 4.7s infinite linear;
  transform: scale(1.7);
  left: 62%;
   }
   .l9{
    animation: floatUp 4.1s infinite linear;
  transform: scale(0.9);
  left: 85%;
   }
  

  @keyframes floatUp{
    0%{top: 100vh; opacity: 0; transform: skewY(20deg);}
    25%{opacity: 1; transform: skewY(20deg);}
    50%{top: 0vh; opacity: .8; transform: skewY(20deg);}
    75%{opacity: 0.5; transform: skewY(20deg);}
    100%{top: -100vh; opacity: 0; transform: skewY(20deg);}
  }

  .ax-main{
    position: relative;
    align-self: center;
    justify-self: center;
  }

  .axl{
    position: absolute;
    width: 10px;
    height: 70px;
    background-color: var(--mainwb-color);
    /* transform: rotate(45deg); */
    /* animation: axl 3s infinite linear reverse; */
  }

  .axr{
    position: absolute;
    width: 10px;
    height: 70px;
    background-color: var(--mainwb-color);
    /* animation: axr 3s infinite linear reverse; */
  }

  @keyframes axl {
    0%{
        transform: rotate(-45deg) translateY(50vh);
    }50%{
        transform: rotate(-45deg) translateY(0%);
    }100%{
        transform: rotate(-45deg) translateY(-50vh);
    }
  }

  @keyframes axr {
    0%{
        transform: rotate(45deg) translateY(-50vh);
    }50%{
        transform: rotate(45deg) translateY(0%);
    }100%{
        transform: rotate(45deg) translateY(50vh);
    }
  }

  .ax1{
    left: 10%;
  }

  .ax2{
    top: -20%;
    left: 20%;
  }

  .ax3{
    top: -15%;
    left: -15%;
  }

  .ax4{
    top: -25%;
    left: -30%;
  }

  .ax5{
    top: 10%;
    left: -42%;
  }

  .ax6{
    top: 23%;
    left: 45%;
  }
  .ax7{
    top: 13%;
    left: -60%;
  }

.ax1 > .axl{
    animation: axl 2s infinite linear reverse;
}

.ax1 > .axr{
    animation: axr 2s infinite linear reverse;
}

.ax2 > .axl{
    animation: axl 1.5s infinite linear reverse;
}

.ax2 > .axr{
    animation: axr 1.5s infinite linear reverse;
}

.ax3 > .axl{
    animation: axl 1s infinite linear reverse;
}

.ax3 > .axr{
    animation: axr 1s infinite linear reverse;
}

.ax4 > .axl{
    animation: axl 2.3s infinite linear reverse;
}

.ax4 > .axr{
    animation: axr 2.3s infinite linear reverse;
}


.ax5 > .axl{
    animation: axl 1.3s infinite linear reverse;
}

.ax5 > .axr{
    animation: axr 1.3s infinite linear reverse;
}

.ax6 > .axl{
    animation: axl 2s infinite linear reverse;
}

.ax6 > .axr{
    animation: axr 2s infinite linear reverse;
}

.ax7 > .axl{
    animation: axl 2.7s infinite linear reverse;
}

.ax7 > .axr{
    animation: axr 2.7s infinite linear reverse;
}
.ax > .axl{
    animation: axl 1.8s infinite linear reverse;
}

.ax > .axr{
    animation: axr 1.8s infinite linear reverse;
}


@media screen and (max-width:992px){
    .ax3{
        display: none;
    }

    .ax7{
        display: none;
    }

    .ax{
        display: none;
    }

    .ax5{
        display: none;
    }
    .ax6{
        display: none;
    }
}