* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mainwb-color: rgba(0, 75, 255, 1);
  font-size: 10px;
  --maincha-color: white;
  --ourteam-text: black;
}

body {
  font-family: sans-serif;
  background-color: #131313;
}

nav {
  width: 100%;
  height: 90px;
  display: flex;
  background-color: white;
  justify-content: space-around;
  transition: 0.5s;
  position: fixed;
  z-index: 898 !important;
}

.x {
  color: var(--mainwb-color);
  font-size: 120px;
  font-weight: 600;
  text-decoration: none;
  z-index: 999 !important;
}

.colours i{
  color: var(--mainwb-color);
  font-size: 20px;
  transform: rotate(-90deg);
  margin-right: 2px;
  transition: 1s;
}

.coloursiconrotate{
  transform: rotate(0deg) !important;
}

.colours{
position: absolute;
left: 20px;
display: flex;
justify-content: center;
align-items: center;

}

.colourbox{
  height: 20px;
  width: 60px;
  overflow: hidden;
  gap: 2px;
  display: flex;
}

.colouricon:nth-child(1){
  background-color: rgba(0, 150, 0, 1);
  transition: 1s;
}
.colouricon:nth-child(2){
  background-color: rgba(120, 75, 255, 1);
  transition: 1.5s;
}
.colouricon:nth-child(3){
  background-color: rgba(0, 75, 255, 1);
  transition: 2s;
}

.colouricon{
  border: 2px solid white;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  transform: translateX(-60px);
}

.coloursshow{
  transform: translateX(0%);
}

.nav-main{
  display: flex;
  width: 100%;
  position: relative;
}

.nav-left,
.nav-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.nav-item,
.nav-item a {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--mainwb-color);
}

.btg-icon {
  height: 50px;
  width: 50px;
  font-size: 30px;
  outline: 3px var(--mainwb-color) solid;
  color: var(--mainwb-color);
  display: none;
  background-color: white;
  border: none;
}

.btgmenu {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 90;
}

.btgmenu-main {
  height: 100%;
  width: 100%;
  background-color: rgba(60, 60, 60, 1);
  position: absolute;
  z-index: 90;
  padding-top: 180px;
  text-align: center;
  text-transform: uppercase;
}

.btgmenu-main a {
  text-decoration: none;
  color: var(--mainwb-color);
}

.btgpasek {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}
.btgmenu-main h1 {
  margin-top: 48px;
  font-size: 5rem !important;
}

.section-padding {
  padding: 200px 0;
}
.welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.welcome h1 {
  font-size: 4rem;
  color: var(--maincha-color);
}

.welcome p {
  margin-top: 24px;
  font-size: 3rem;
  color: var(--maincha-color);
  max-width: 90%;
}

.welcome::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 400px;
  background-color: var(--mainwb-color);
  transform: skewY(-9deg);
  z-index: -10;
}

/* *{
  transition: 1s;
} */

.whyus h1 {
  margin-left: 10%;
  font-size: 4rem;
  color: var(--maincha-color);
  align-self: left;
  max-width: 42%;
}

.deseczka {
  margin-left: 10%;
  height: 10px;
  width: 600px;
  background-color: white;
  margin-bottom: 12px;
  overflow: hidden;
}
.indeseczka {
  width: 100%;
  height: 100%;
  background-color: var(--mainwb-color);
  transform: translateX(-100%);
}
.whyus p {
  color: var(--maincha-color);
}

.whyus-main {
  display: flex;
}

.whyus-left {
  min-height: 200px;
  width: 50%;
  /* background-color: rgba(0, 75, 255, 0.3); */
  font-size: 3rem;
  color: white;
  padding-left: 10%;
  padding-top: 24px;
}

.whyus-right {
  display: flex;
  padding-left: 48px;
  width: 50%;
}

.whyus-right i {
  font-size: 180px;
  color: var(--mainwb-color);
  position: absolute;
  right: 15%;
  transform: rotate(-130deg) translateY(80px) translateX(150px);
}

.our-team h1 {
  color: var(--maincha-color) !important;
}

.our-team-main {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-top: 24px;
  scroll-snap-type: x mandatory;
}

.our-team{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.noopacity{
  opacity: 0;
}

.ucanslide{
  scroll-snap-align:none;
  isolation: isolate;
  position: absolute;
  background-color: rgba(255,255,255,.3);
  color: black;
  border-radius: 24px;
  padding: 7px 12px;
  justify-self: center;
  z-index: 10;
  font-size: 1.5rem;
  margin-top: 78px;
  /* display: none; */
  align-self: center;
  transition: 1s;
}

.our-team-block {
  height: 800px;
  min-width: calc(100% / 4);
  background-color: rgba(0, 0, 0, 0.45);
  /* overflow: hidden; */
  scroll-snap-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.our-team-block:hover > .our-team-zdj img,
.our-team-block:hover > .our-team-text,
.our-team-block:hover > .our-team-text p {
  transform: translate(0%);
  opacity: 1;
  transition: 1s;
}

.our-team h1 {
  margin-left: 10%;
  font-size: 4rem;
}

.our-team-zdj {
  height: 45%;
  width: 100%;
}

.our-team-zdj img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translateY(-100%);
  /* transition: 1s; */
  transition: 2.5s;
  opacity: 0;
}
.our-team-text {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--ourteam-text);
  padding-top: 24px;
  transform: translateY(25%);
  transition: 2.5s;
  padding: 2%;
}

.our-team-text h1 {
  margin-left: 0;
  font-size: 4rem;
}

.our-team-text p {
  color: var(--maincha-color);
  font-size: 2rem;
  margin: 10px 45px;
  opacity: 0;
  transition: 1s;
  transform: translateY(70%);
}

.joinus {
  margin: 100px 0;
  width: 100%;
  padding: 64px 0;
  background-color: var(--mainwb-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.joinus h1 {
  font-size: 4rem;
  color: var(--maincha-color);
  margin-bottom: calc(24px * 2);
}

#email {
  width: 300px;
  margin-bottom: 24px;
  transform: skewX(-25deg);
  border-top: 3px solid #131313;
  border: none;
  padding: 6px 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: white;
  transition: 0.5s;
}

#textarea {
  width: 300px;
  height: 100px;
  margin-bottom: 24px;
  border-top: 3px solid #131313;
  border: none;
  padding: 6px 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: white;
  transition: 0.5s;
  resize: none;
  overflow: hidden;
}


.joinus button {
  padding: 6px 12px;
  color: var(--mainwb-color);
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  transform: skewX(-25deg);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
  transition: 0.5s;
}

.joinus button:hover {
  transform: translateY(-5px) skewX(-25deg);
  transition: transform 0.5s;
  box-shadow: 0 0 10px black;
}

#email:focus::-webkit-input-placeholder {
  opacity: 0;
}

#email::placeholder {
  color: #131313;
}

#email:focus {
  outline: none;
  box-shadow: 0 0 10px black;
}

#textarea:focus {
  outline: none;
  box-shadow: 0 0 10px black;
}




.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
}

.footer-block {
  width: calc(100% / 3);
  padding: 0 24px;
  margin: 24px;
}

.pasek {
  width: 250px;
  height: 5px;
  background-color: white;
  margin-bottom: 4px;
}

.footer h1 {
  font-size: 2rem;
}

.footer p {
  font-size: 1.5rem;
  margin-top: 2px;
}

.copypasek {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}

.copyright {
  width: 100%;
  display: inline-block;
  background-color: black;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 3px;
}

.copyright i:hover {
  color: var(--mainwb-color);
  transition: 0.5s;
}

.copyright i {
  margin-left: 10px;
  transition: 0.5s;
}

.reviews-main{
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.reviews {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.re-ucanclickhere{
  position: absolute;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 10;
  padding: 0 15px;
  display: none;
}

.re-ucanclickhere div{
  background-color: rgba(255,255,255,.3);
  padding: 7px 12px;
  border-radius: 24px;
  font-size: 1.5rem;
  transition: 1s;
}

.re-slides {
  display: flex;
  justify-content: center;
  transform: translateX(0%);
  transition: 2s;
}

.re-block {
  position: relative;
  min-width: 50%;
  transition: 2s;
  z-index: -10;
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}


.re-block p{
text-align: end;
color: var(--mainwb-color);
font-size: 2rem;
font-weight: bold;
width: 80% !important;
}

.re-buttons {
  padding: 0 50px;
  padding-bottom: 100px;
  z-index: 20;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.re-buttons button {
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
  background-color: rgba(0,0,0,0);
}

.re-buttons button i{
  font-size: 18px;
  color: white;
}

.re-block h1 {
  font-size: 4rem;
  color: var(--mainwb-color);
}

.slone {
  transform: translateX(100%);
}

.sltwo {
  transform: translateX(50%);
}

.slthree {
  transform: translateX(0%);
}

.slfour {
  transform: translateX(-50%);
}
.slfive {
  transform: translateX(-100%);
}


/* media */

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 3.5rem !important;
  }
  p {
    font-size: 2.5rem !important;
  }
  .whyus {
    margin-top: 50px;
  }
  .deseczka {
    width: 500px;
  }
  .footer h1 {
    font-size: 2rem !important;
  }
  .copyright p,
  .copyright i {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  :root {
    font-size: 9px;
  }
  .btgmenu-main{
    display: flex !important;
    flex-direction: column;
    height: 100%;
  }
  .colourbox{
    align-self: center;
    gap: 20px;
    width: 120px;
    height: 50px;
    margin-top: 150px;
  }
  .colouricon{
    width: 30px;
    height: 30px;
  transform: translateX(0);
  border: none;
  }
.re-ucanclickhere{
  display: flex;
}
  .re-block{
    min-width: 100%;
  }
  .slone {
    transform: translateX(200%);
  }
  
  .sltwo {
    transform: translateX(100%);
  }
  
  .slthree {
    transform: translateX(0%);
  }
  
  .slfour {
    transform: translateX(-100%);
  }
  .slfive {
    transform: translateX(-200%);
  }
  .nav-left,
  .nav-right {
    display: none;
    content: "";
  }
  nav {
    justify-content: space-between;
    position: fixed;
    z-index: 15;
  }

  .nav-main {
    justify-content: space-between;
    z-index: 15;
  }
  .btg-icon {
    display: block;
    margin-top: 20px;
  }
  nav {
    /* justify-content: left; */
    padding-left: 24px;
    padding-right: 24px;
  }
  .navposition {
    top: 0px;
    left: 0px;
    position: fixed;
  }
  .x {
    position: absolute;
  }
  .section-padding {
    padding: 100px 0;
  }
  .welcome::after {
    height: 300px;
  }
  .whyus {
    margin-top: 100px;
  }
  .whyus-main {
    flex-direction: column;
  }
  .whyus-right i {
    display: none;
  }

  .whyus-right {
    width: 100%;
    overflow: hidden;
  }

  .whyus-right {
    margin-top: 48px;
    margin-left: 0;
    padding: 0;
  }
  .whyus-left {
    width: 100%;
    min-height: auto;
  }

  h1 {
    font-size: 3rem !important;
  }

  p {
    font-size: 2rem !important;
  }
  .deseczka {
    width: 300px;
  }
  .footer {
    flex-direction: column;
  }
  .footer-block {
    width: 100%;
  }
  .copyright p,
  .copyright i {
    font-size: 1.5rem;
  }
  .re-buttons button {
    /* background-color: white; */
    /* border: 2px solid var(--mainwb-color); */
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    background-color: none;
    border-radius: 0;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  }

  .re-buttons{
    padding: 0 0;
  }


  .re-buttons button i {
  display: none;
  }
  .ucanslide{
    display: block;
  }
}

@media screen and (max-width: 1870px) {
  .our-team-main {
    overflow-x: scroll;
  }
  .our-team-block {
    min-width: calc(1920px / 4);
  }
}

@media screen and (max-width: 479px) {
  .our-team-block {
    min-width: 100%;
  }
  #email {
    width: 80vw;
  }
  #textarea {
    width: 80vw;
  }
}


/* other */
.dshow {
  transition: 1s;
  transform: translateX(0%);
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  filter: grayscale(1) blur(20px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; 
  display: none;
}

.navhid {
  transform: translateY(-150%);
}

.navshow {
  transform: translateY(0%);
}

